html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-collapse: separate;
}

    .table thead th {
        font-weight: bold;
        text-align: center;
        border: none;
        padding: 10px 15px;
        background: #EDEDED;
        font-size: 14px;
        border-top: 1px solid #ddd;
    }

    .table tr th:first-child, .table tr td:first-child {
        border-left: 1px solid #ddd;
    }

    .table tr th:last-child, .table tr td:last-child {
        border-right: 1px solid #ddd;
    }

    .table thead tr th:first-child {
        border-radius: 20px 0 0 0;
    }

    .table thead tr th:last-child {
        border-radius: 0 20px 0 0;
    }

    .table tbody td {
        text-align: center;
        border: none;
        padding: 10px 15px;
        font-size: 14px;
        vertical-align: top;
    }

    .table tbody tr:nth-child(even) {
        background: #F8F8F8;
    }

    .table tbody tr:last-child td {
        border-bottom: 1px solid #ddd;
    }

        .table tbody tr:last-child td:first-child {
            border-radius: 0 0 0 20px;
        }

        .table tbody tr:last-child td:last-child {
            border-radius: 0 0 20px 0;
        }

.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 0.2rem 1rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
}